[Unit]
Description=Yet another IRC bot
After=network.target

[Service]
User=mrzyx
WorkingDirectory=/home/mrzyx/DeBot
ExecStart=/usr/bin/bundle exec ruby bot.rb
CPUAccounting=true
MemoryAccounting=true
BlockIOAccounting=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
