// This is a comment
// Inline comments are not allowed
// Required keys are given with an example
// Optional keys are given with their default or an example
// Note that comments are lost when the config file is written by the bot
{
  "server": "chat.freenode.net",

  // Defaults to 6697 if SSL is enabled
  //"port": 6667,

  //"ssl": false,

  // With SASL enabled, also used to authenticate
  "nick": "CeBot",

  //"user": "cebot",

  // With SASL enabled, used to authenticate,
  // else, if present, used as server password
  //"password": "secret",

  //"try_sasl": false,

  //"realname": "CeBot",

  "channels": [
    "#cebot"
  ],

  // Valid levels: debug, info, warn, error, fatal
  //"log_level": "info",

  "plugins": {
    "Admin": {
      "superadmins": ["jhass"],
      //"admins": ["asterite"]
    },

    "Memo": {
      "store": "data/memo.json"
    },

    "KeyValueStore": {
      "store": "data/key_value_store.json"
    },

    // "CrystalEval": {
    //    channels is valid for any plugin and limits the list of channels
    //    the plugin see messages for. If not given or null,
    //    no filter is applied, if an empty array, or false, the plugin is only
    //    active in direct queries to the bot.
    //   "channels": ["#crystal-lang"]
    // },

    // "GithubIssues": {
    //   "repositories": {
    //     "#cebot": "jhass/CeBot"
    //   }
    // },

    // "Wiki": {
    //   "wikis":  {
    //     "#diaspora": "https://wiki.diasporafoundation.org/"
    //   }
    // },

    "WtiStatus": {
      "default_project": "diaspora",
      "projects": {
        "diaspora": {
          "api_key": "abc",
          "slug": "3020-Diaspora"
        }
      }
    }
  }
}
